
@{
    ViewBag.Title = "欢迎页"; 
}

 

<div class="mainindex">


    <div class="welinfo">
        <span><img src="/content/admin/images/sun.png" alt="天气" /></span>
        <b>欢迎使用后台管理</b> 
    </div>

 
    


</div>



